   .employee-row{
    background-color: hsl(233,31%,17%);
    border-radius: 8px;
    box-shadow: 0 10px 10px -10px hsl(231deg 38% 45% / 10%);
    transition: background-color 400ms ease-in-out;
    display: flex;
    height: max-content;
    align-items: center;
    padding: 1rem 1rem;
    width: 43rem;
    justify-content: space-around;
     border: 1px solid transparent;
     cursor: pointer;
     transition: border 400ms ease-in-out;
     margin: 0 0 1rem 0;
   }

   .employee-row:hover{
       border: 1px solid hsl(252,94%,67%);
   }
   .employee-row-avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    background: #858bb2;
   }
   .employee-row-tools {
    position: relative;
}
   ul.employee-row-tools-list {
    position: absolute;
    background: #7b5cfa;
    list-style: none;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 1rem;
    border-radius: .5rem;
    top: -2rem;
    right: -10rem;
    display: none;
   }
  
   .employee-row-tools:hover ul.employee-row-tools-list{
     display: inline;
    }
    .employee-row-tools li{
       padding: .5rem 1rem;
    }
   li.drop-employee {
    color: red;
    cursor: pointer;
   }
  li.drop-employee:hover{
    background-color: red;
    color: #fff;
  }
  .increase-balance{
    color:#080
  }
  .increase-balance:hover{
    color: #fff;
    background-color: #080;
  }
    ul.employee-row-tools-list:not(:last-child) {
    border-bottom: 1px solid #858bb2;
   }
 