   .active-row{
    background-color: hsl(233,31%,17%);
    border-radius: 8px;
    box-shadow: 0 10px 10px -10px hsl(231deg 38% 45% / 10%);
    transition: background-color 400ms ease-in-out;
    display: flex;
    height: max-content;
    align-items: center;
    padding: 1rem 1rem;
    width: 43rem;
    justify-content: space-around;
     border: 1px solid transparent;
     cursor: pointer;
     transition: border 400ms ease-in-out;
     margin: 0 0 1rem 0;
   }

   